<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Mi informacion</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-md-3 text-center">
    <div class="panel panel-default">
    <div class="panel-body">
      <div class="results-box">
        <div class="">
          <%= image_tag @profile.avatar.url, class: 'img-circle', :size => "150x150"%>
        </div>
        <div class="">
          <h4 class="profile_name"><%= @profile.name %></h4>
          <ul class="list-inline link-ul">
            <p><%= @profile.county.name%></p>
          </ul>
          <p>
            <p><%= @profile.bio %></p>
          </p>
          <hr>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body" id="tabs-profile">
      <!-- Nav tabs -->
    <% if @profile.type == "KeeperProfile"%>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tus Servicios</a></li>
        <li role="presentation"><a href="#schedule" aria-controls="availability" role="tab" data-toggle="tab">Tus Pagos</a></li>
      </ul>
      <% else %>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tus reservas</a></li>
      </ul>
      <% end %>

      <!-- Tab panes -->
      <div class="tab-content" style="padding: 0px;">

        <div role="tabpanel" class="tab-pane active" id="profile">
          <div class="col-md-12">
             <% @profile.services.each do |ps| %>
                  <div class='service'>
                    <li class="col-md-4 services">
                      <div class="thumbnail">
                        <div class="caption">
                          <h4><%= ps.name %> </h4>
                          <p><%= ps.description%></p>
                        </div>
                        <span>
                        </span>
                        <span class="caption">
                          <p class="price-services">Precio:
                            <%= ps.profile_services.get_price(@profile.id) %>
                          </p>
                        </span>
                      </div>
                    </li>
                  </div>
                <% end %>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="schedule">
                  <div class="col-md-10">
                    <table class="table table-striped table-bordered table-condensed">
                      <thead>
                            <tr>
                              <th>Nombre Cuidador</th>
                              <th>Nombre Dueño</th>
                              <th>Servicio</th>
                              <th>Precio</th>
                            </tr>
                            <tbody>
                            <% @payments.each do |payment| %>
                                <tr>
                                  <td><%=get_cuidador(payment.booking_id)%></td>
                                  <td><%=get_pagador(payment.profile_id) %></td>
                                  <td><%=get_servicio(payment.booking_id)%></td>
                                  <td><%=payment.amount%></td>
                                </tr>
                            <% end %>
                            </tbody>
                      </thead>
                  </table>
                  </div>
        </div>
      </div>
    </div>
  </div>
      <div class="form-actions text-center">
        <%= link_to 'Volver', edit_profile_path(current_user.profile), class: "btn btn-info" %>
      </div>
</div>
