<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
          <h3>Dashboard</h3>
        </div>
    </div>
</div>

<br>
<div class="col-md-3 text-center">
    <div class="panel panel-default">
    <div class="panel-body">
     <h3>Mi perfil</h3>
      <div class="results-box">
        <div class="">
          <%= image_tag @profile.avatar.url, class: 'img-circle', :size => "150x150"%>
        </div>
        <div class="">
          <h4 class="profile_name"><%= @profile.try(:name) %></h4>
          <ul class="list-inline link-ul">
            <p><%= @profile.county.try(:name)%></p>
            <p><%= @profile.try(:bio) %></p>
          <hr>
        </div>

      </div>
    </div>
  </div>

      <div class="panel panel-default">
    <div class="panel-body">
     <h3>Estado</h3>
      <div class="results-box">
          <h3><strong><%= @profile.state %></strong></h3>
          <p>Como estar listo para ser aprobado?</p>
      </div>
    </div>
  </div>

</div>

<div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Gracias por ser parte de kiipet!</h3>
          </div>
          <div class="panel-body">
            <p>Estamos muy entusiasmados por que te uniste a una gran comunidad! Nuestro team se encarga de revisar cuidadosamente cada perfil, y estamos ansiosos de trabajar contigo. In the meantime, aqui tienes algunos tips para que tu perfil sea aprobado en el menor tiempo posible:</p>
            <p>
              1. Completa tu perfil -- esta seguro que tienes:
            </p>
            <ul>
              <li>Una foto de perfil clara (recuerda sonreir (= !)</li>
              <li>Una detallada descripcion de ti y experiencia cuidando mascota (solo si eres cuidador)</li>
              <li>Debes recordar en añadir tus precios y si hay un servicio que no brindas solo debes poner 0 (solo si eres cuidador)</li>
              <li>Por ultimo ve a la seccion de calendario y añade tus horas disponible (solo si eres cuidador).</li>
            </ul>
            <p>Cualquier consulta por favor escribenos <%= link_to "Aqui", "#" %></p>
            <%= link_to "Completa tu perfil", profile_after_signup_keeper_path(:step1, profile_id: current_user.profile), class: "btn btn-info text-right"%>
          </div>
      </div>
<br>
  <div class="panel panel-default">
    <div class="panel-body" id="tabs-profile">
      <!-- Nav tabs -->
    <% if current_user.role.name == "keeper" %>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tus Servicios</a></li>
        <li role="presentation"><a href="#schedule" aria-controls="availability" role="tab" data-toggle="tab">Tus Pagos</a></li>
      </ul>
      <% else %>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tus reservas</a></li>
      </ul>
      <% end %>

      <!-- Tab panes -->
      <div class="tab-content" style="padding: 0px;">
      <% if current_user.role.name == "keeper" %>
        <div role="tabpanel" class="tab-pane active" id="profile">
          <div class="col-md-12">
             <% @profile.services.each do |ps| %>
                  <div class='service'>
                    <li class="col-md-4 services">
                      <div class="thumbnail">
                        <div class="caption">
                          <h4><%= ps.name %> </h4>
                          <p><%= ps.description%></p>
                        </div>
                        <span>
                        </span>
                        <span class="caption">
                          <p class="price-services">Precio:
                            <%= ps.profile_services.get_price(@profile.id) %>
                          </p>
                        </span>
                      </div>
                    </li>
                  </div>
                <% end %>
            </div>
        </div>
        <% else %>
        <div role="tabpanel" class="tab-pane active" id="profile">
          <div class="col-md-12">
                  <p>Aqui aparecera un listado de los cuidadores a los que le has reservado.</p>
                    <table class="table table-striped table-bordered table-condensed">
                      <thead>
                            <tr>
                              <th>Nombre Cuidador</th>
                              <th>Estado</th>
                              <th>Servicio</th>
                              <th>Precio</th>
                            </tr>
                            <tbody>
                            <% @payments.each do |payment| %>
                                <tr>
                                  <td><%=get_cuidador(payment.booking_id) %></td>
                                  <td><%=payment.state%></td>
                                  <td><%=get_pagador(payment.profile_id) %></td>
                                  <td><%=get_servicio(payment.booking_id)%></td>
                                  <td><%=payment.amount%></td>
                                </tr>
                            <% end %>
                            </tbody>
                      </thead>
                  </table>
                  </div>
        </div>
        <% end %>

        <div role="tabpanel" class="tab-pane" id="schedule">
                  <div class="col-md-12">
                  <p>Aqui aparecera un listado de las personas que han reservado contigo.</p>
                    <table class="table table-striped table-bordered table-condensed">
                      <thead>
                            <tr>
                              <th>Nombre Dueño</th>
                              <th>Servicio</th>
                              <th>Precio</th>
                            </tr>
                            <tbody>
                            <% @payments.each do |payment| %>
                                <tr>
                                  <td><%=get_pagador(payment.profile_id) %></td>
                                  <td><%=get_servicio(payment.booking_id)%></td>
                                  <td><%=payment.amount%></td>
                                </tr>
                            <% end %>
                            </tbody>
                      </thead>
                  </table>
                  </div>
        </div>
      </div>
    </div>
  </div>
</div>
