<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Perfil</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
              <% if @profile.state == "approved"%>
                <%= link_to "Aprobado", profile_dashboard_path(@profile), class: 'btn btn-success'%>
              <% else %>
                <%= link_to "Pendiente", "#", class: 'btn btn-danger' %>
              <% end %>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
<!-- tab panel menu opcion-->
  <div id="tabs" class="tabs" role="tabpanel">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="presentation">
        <%= link_to "Información Personal", edit_profile_path(@profile)%>
      </li>
      <% if current_user.role.name == "keeper"%>
      <li role="presentation">
        <a href="#servicios" role="tab" data-toggle="tab">Servicios</a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- tab panel menu opcion end-->
<!-- tab  information content-->
  <div class="row">
    <div class="col-sm-12">
      <div class="tab-content">
        <div class="tab-pane active" id="informacion" role="tabpanel">
          <%= simple_form_for @profile, as: :profile, url: profile_path(@profile) do |f| %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h4>1.- Información Personal</h4>
                      <p>Completa toda la informacion personal para que asi nuestros administradores aprueben tu perfil en la plataforma</p>
                    </div>
                    <div class="panel-body">

                  <%= f.input :name, input_html: { class: 'form-control' }, placeholder: "Nombre", required: true%>

                  <div class="form-group file optional profile_avatar">
                  <%= f.input :avatar, input_html: {'data-input' => false, 'data-buttonText' => '', 'data-iconName' => 'fa fa-user'}%>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <%= f.input :gender, as: :radio_buttons, collection: Profile.genders.map {|g| [g.first, g.first]}, label_method: lambda { |gender| t("simple_form.options.profile.gender.#{gender.first}") }%>
                    </div>
                    <div class="col-sm-6">
                      <%= f.input :date_birth, as: :string, input_html: { class: 'datetimepicker form-control' }%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email</label><span class="form-control"><%= current_user.email%></span>
                  </div>
                </div>
                    </div>
                  </div>

                <div class="col-sm-6">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h4>2.- Informacion de contacto</h4>
                      <p>Agrega tu informacion de contacto para que nosotros te podamos contactar cuando tengas una reserva o busques
                      un cuidador</p>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <%= f.input :phone, input_html: { class: 'form-control' }, placeholder: "Telefono", required: true %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= f.input :address, input_html: { class: 'form-control' }, placeholder: "Direccion", required: true %>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <%= f.label :country_code %>
                            <%= country_select(:profile, :country_code, {selected: f.object.country_code || "CL"}, {class: 'form-control'})%>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <%= f.input :region_id, collection: Region.all, input_html: { class: 'form-control' }, required: true%>
                        </div>
                        <div class="col-md-6">
                          <%= f.association :county, input_html: { class: 'form-control' }, required: true%>
                        </div>
                      </div>
                    </div>
                  </div>
                <% if current_user.role.name == "keeper"%>
                  <div class="panel panel-default">
                    <div class="panel-heading"><h4>3.- Informacion Bancaria</h4>
                      <p>Esta informacion es siempre privada y solo sera utilizada para realizar los pagos a fin de cada mes.</p>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <%= f.input :rut, input_html: { class: 'form-control' }, placeholder: " rut 55.555.555-k", required: true %>
                      </div>
                    </div>
                    <div class="panel-body">
                      <%= f.simple_fields_for :bank_account do |builder| %>
                    <div class="row">
                      <div class="col-md-6">
                        <%= builder.association :bank, input_html: { class: 'form-control' } %>
                      </div>
                      <div class="col-md-6">
                        <%= builder.association :bank_account_type, input_html: { class: 'form-control' } %>
                      </div>
                    </div>
                      <%= builder.input :number, input_html: { class: 'form-control' } %>
                  <% end %>
                    </div>
                  </div>
                <% end %>
                </div>
              </div>
              <div class="col-md-10">
               </div>
                <br>
              <hr>
              <div class="form-actions text-center">
              <% if current_user.role.name == "keeper" %>
                  <a href="#servicios" role="tab" data-toggle="tab" class="btn btn-default">Siguiente</a>
                  <%= f.button :submit, "Guardar", class: 'btn btn-info'%>
              <% else %>
                  <%= link_to 'Agrega tu Mascota',  pets_path(@profile), class: "btn btn-success"%>
                  <%= f.button :submit, "Guardar", class: 'btn btn-info'%>
              <% end %>
              </div>
          <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="servicios">
            <div class="panel panel-default">
              <div class="panel-heading"><h4>4.- Informacion de Servicios</h4>
              <p>Debes completar tu slogan para que aparescas en nuestro buscador, de eso dependera si tu servicio es contratado asi que usa tu imaginacion ! ademas necesitamos saber un poco mas de ti asi que no olvides tu biografia</p>
              </div>
              <div class="panel-body">
                <%= simple_form_for @profile, as: :profile, url: profile_path(@profile) do |f| %>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.input :slogan, input_html: { class: 'form-control' }, placeholder: 'Ej: Experto cuidando mascotas en santiago' %>
                      <br>
                      <%= f.input :bio, input_html: { class: 'form-control' }, placeholder: 'Tengo 3 años de experiencia cuidando las mascotas de mis vecinos...' %>
                    </div>
                  </div>
              </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="precios">5.- Precios</h4>
                  <p>Aquí debes especificar el valor de tus servicios. Por ahora tienes que llenarlos todos, pero si no prestas todos los servicios puedes colocar 0.</p>
                </div>
                <div class="panel-body">
                    <section>
                      <br>
                      <ul class="thumbnails" id="servicio">
                        <%= f.simple_fields_for :profile_services do |ps| %>
                          <div class='service'>
                            <li class="col-md-3">
                              <div class="thumbnail">
                                <div class="caption">
                                  <h4><%= ps.object.service.name %></h4>
                                  <p><%= ps.object.service.description%></p>
                                </div>
                                <span>
                                </span>
                                <span class="caption">
                                  <%= ps.input :service_id, as: :hidden, input_html: { value: ps.object.service.id} %>
                                  <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <%= ps.input :price, label: false, placeholder: "precio", input_html: { class: 'form-control' }%>
                                  </div>
                                </span>
                              </div>
                            </li>
                          </div>
                        <% end %>
                        </ul>
                  </section>
                </div>
              </div>


                  <div class="form-actions text-center">
                     <% if current_user.role.name == "keeper"%>
                      <%= f.button :submit, "Guardar", class: 'btn btn-info'%>
                      <%= link_to 'Agregar disponibilidad', calendar_bookings_path(@profile), class: "btn btn-success" %>
                  <% else %>
                      <%= link_to 'Agrega tu Mascota',  pets_path(@profile), class: "btn btn-success"%>
                      <%= f.button :submit, "Guardar", class: 'btn btn-info'%>
                      <%= link_to "Ver Perfil", profile_dashboard_path(@profile), class: 'btn btn-default'%>
                  <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
