<div class="tabs" role="tabpanel">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="presentation">
        <%= link_to "Información Personal", edit_profile_path(@profile)%>
      </li>
      <% if current_user.profile.is_a? KeeperProfile %>
      <li role="presentation">
        <a href="#servicios" role="tab" data-toggle="tab">Servicios</a>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="tab-content">
        <div class="tab-pane active" id="informacion" role="tabpanel">
          <%= simple_form_for @profile, as: :profile, url: profile_path(@profile) do |f| %>
              <div class="row">
                <div class="col-sm-6">
                  <h3>Información Personal</h3>
                  <%= f.input :name, input_html: { class: 'form-control' }, placeholder: "Nombre" %>

                  <div class="form-group file optional profile_avatar">
                  <%= f.input :avatar, input_html: {'data-input' => false, 'data-buttonText' => '', 'data-iconName' => 'fa fa-user'}%>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <%= f.input :gender, as: :radio_buttons, collection: Profile.genders.map {|g| [g.first, g.first]}, label_method: lambda { |gender| t("simple_form.options.profile.gender.#{gender.first}") }%>
                    </div>
                    <div class="col-sm-6">
                      <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                          end_year: Date.today.year - 12, discard_day: false,
                          order: [:day, :month, :year], input_html: { class: 'form-control' } %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :country_code %>
                        <%= country_select(:profile, :country_code, {selected: f.object.country_code || "CL"}, {class: 'form-control'})%>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.input :rut, input_html: { class: 'form-control' }, placeholder: "Rut" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email</label><span class="form-control"><%= current_user.email%></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <h3>
                    Información de Contacto
                  </h3>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.input :phone, input_html: { class: 'form-control' }, placeholder: "Telefono" %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <%= f.input :cellphone, input_html: { class: 'form-control' }, placeholder: "Celular" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.input :address, input_html: { class: 'form-control' }, placeholder: "Direccion" %>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.input :region_id, collection: Region.all, input_html: { class: 'form-control' }%>
                    </div>
                    <div class="col-md-6">
                      <%= f.association :county, input_html: { class: 'form-control' } %>
                    </div>
                  </div>
                  <br>
                  <br>
                  <h3>Informacion Bancaria</h3>
                  <%= f.simple_fields_for :bank_account do |builder| %>
                    <div class="row">
                      <div class="col-md-6">
                        <%= builder.association :bank, input_html: { class: 'form-control' } %>
                      </div>
                      <div class="col-md-6">
                        <%= builder.association :bank_account_type, input_html: { class: 'form-control' } %>
                      </div>
                    </div>
                      <%= builder.input :number, input_html: { class: 'form-control' } %>
                  <% end %>
                </div>
              </div>
                <br>
              <hr>
              <div class="form-actions text-center">
                <%= f.button :submit, "Guardar", class: 'btn btn-info'%>
              </div>
          <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="servicios">
          <%= simple_form_for @profile, as: :profile, url: profile_path(@profile) do |f| %>
                  <div class="row">
                    <div class="col-md-6">
                      <h3>Informacion de Servicios</h3>
                      <p>Esta es la información que le mostraras a tus clientes en nuestro buscador</p>
                      <%= f.input :slogan, input_html: { class: 'form-control' }, placeholder: 'Me encanta cuidar ballenas azules y viajar por el mundo' %>
                      <br>
                      <%= f.input :bio, input_html: { class: 'form-control' }, placeholder: 'Tengo 3 a;os de experiencias cuidando ballenas. Antes cuidaba elefantes.' %>
                    </div>
                  </div>
             <section>
             <br>
             <br>
                <div class="row">
                  <h3 class="precios">Precios</h3>
                  <p>Aquí debes especificar el valor por tus servicios. Por ahora tienes que llenarlos todos, pero si no prestas todos los servicios puedes colocar 0.</p>
                  <br>
                  <ul class="thumbnails" id="servicio">
                    <%= f.simple_fields_for :profile_services do |ps| %>
                      <div class='service'>
                        <li class="col-md-3">
                          <div class="thumbnail">
                            <div class="caption">
                              <h4><%= ps.object.service.name %></h4>
                              <p><%= ps.object.service.description%></p>
                            </div>
                            <span>
                            </span>
                            <span class="caption">
                              <%= ps.input :service_id, as: :hidden, input_html: { value: ps.object.service.id} %>
                              <%= ps.input :price, input_html: { class: 'form-control' }%>
                            </span>
                          </div>
                        </li>
                      </div>
                    <% end %>
                    </ul>
                    </div>
                  </section>
                  <div class="form-actions text-center">
                <%= f.button :submit, "Guardar", class: 'btn btn-info'%>
              </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
