 <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Perfil</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                  <%= image_tag @profile.avatar.url, class: 'img-circle', :size => "100x100"%>
                </div>
            </div>
            <div class="divide30"></div>
            <div class="row">
                <div class="col-sm-6">
                    <h4><%= @profile.name %></h4>
                     <p><%= @profile.bio %></p>
                </div>
                <div class="col-sm-6">
                    <h4>Calendario con disponibilidad</h4>
                     <p>
                        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper.
                    </p>
                </div>
            </div><!--1/2 row end-->
              <div class="divide30"></div>
              <div class="divide30"></div>
              <div class="row">
              <div class="profile-service">
                 <% @profile.services.each do |ps| %>
                      <div class='service'>
                        <li class="col-md-3">
                          <div class="thumbnail">
                            <div class="caption">
                              <h4><%= ps.name %> </h4>
                              <p><%= ps.description%></p>
                            </div>
                            <span>
                            </span>
                            <span class="caption">
                              <%-  ps.profile_services.each do |p| %>
                                <p>Precio</p>
                                <%= p.price %>
                              <% end %>
                            </span>
                          </div>
                        </li>
                      </div>
                    <% end %>
                </div>
              </div>
             <div class="divide30"></div>
        </div><!--full width container-->
        <hr>
      <div class="form-actions text-center">
        <input type="submit" name="commit" value="Reservar" class="btn btn btn-info">
      </div>
      <br>
