<div class="container">
  <br>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body" id="tabs-profile">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Servicios y Tarifas</a></li>
          <li role="presentation"><a href="#schedule" aria-controls="availability" role="tab" data-toggle="tab">Reservar</a></li>
          <li role="presentation"><a href="#availability" aria-controls="availability" role="tab" data-toggle="tab">Calendario</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding: 0px;">

          <div role="tabpanel" class="tab-pane active" id="profile">
            <div class="col-md-12">
               <% @profile.services.each do |ps| %>
                    <div class='service'>
                      <li class="col-md-4 services">
                        <div class="thumbnail">
                          <div class="caption">
                            <h4><%= ps.name %> </h4>
                            <p><%= ps.description%></p>
                          </div>
                          <span>
                          </span>
                          <span class="caption">
                            <p class="price-services">Precio:
                              <%= number_with_delimiter  ps.profile_services.get_price(@profile.id) %>
                            </p>
                          </span>
                        </div>
                      </li>
                    </div>
                  <% end %>
              </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="schedule">
            <%= render 'bookings/booking_availability' %>
          </div>

          <div role="tabpanel" class="tab-pane" id="availability">
            <div class="calendar_container">
              <div id="calendar"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="col-md-3 text-center">
      <div class="panel panel-default">
      <div class="panel-body">
        <div class="results-box">
          <div class="">
            <%= image_tag @profile.avatar.url, class: 'img-circle', :size => "150x150"%>
          </div>
          <div class="">
            <h4 class="profile_name"><%= @profile.name %></h4>
            <ul class="list-inline link-ul">
              <p><%= @profile.county.name%></p>
            </ul>
            <p>
              <p><%= @profile.bio %></p>
            </p>
            <hr>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
