<div class="tabs" role="tabpanel">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="presentation">
        <%= link_to "Sesión de Usuario", edit_user_registration_path(@user) %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="col-sm-6 col-md-offset-3">
    <h2>
      Modificar Contraseña
    </h2>
    <div class="form-group password optional user_current_password">
       <%= f.input :current_password, autocomplete: "off", input_html: { class: 'form-control' }, placeholder: "Contraseña Actual" %>
    </div>
    <hr>
    <div class="form-group password optional user_password">
      <%= f.input :password, autocomplete: "off", input_html: { class: 'form-control' }, placeholder: "Nueva Contraseña"%>
    </div>

    <div class="form-group password optional user_password_confirmation">
      <%= f.input :password_confirmation, autocomplete: "off", input_html: { class: 'form-control' }, placeholder: "Confirmar Contraseña"%>
    </div>
    <hr>
    <h3>Eliminar mi cuenta</h3>

    <p>Deseas eliminar tu cuenta?<%= button_to "Eliminar", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete, class: 'btn btn-danger' %></p>
    <hr>
    <div class="form-actions">
      <%= f.button :submit, "Guardar", class: 'btn btn-info'%>
    </div>
    <% end %>
  </div>
  </div>


