       <div class="breadcrumb-wrap breadcrumb-light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Unete a nosotros</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div><!--breadcrumb light-->
        <div class="divide60"></div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 margin30">
                    <h3 class="heading">Bienvenido a kiipet</h3>
                    <p>
                      Kiipet es una plataforma que pone en contacto a cuidadores de mascotas con experiencia y propietarios de mascotas.
                       Nuestra plataforma permite que cada propietario encuentre el cuidador perfecto para su mascota,
                       haciendo la reserva de forma cómoda y garantizando el pago seguro
                    </p>

                    <div class="divide50"></div>
                    <h3 class="heading">Siguenos</h3>
                    <ul class="list-inline social-1 reg-social">
                        <li><a href="shop-register.html#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="shop-register.html#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="shop-register.html#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="shop-register.html#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="shop-register.html#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-6 sky-form-login-register v2">
                    <div class="margin40">
                      <%= simple_form_for :user, :url => registration_path(:user),  html: { class: "sky-form", id: "sky-form"} do |f| %>
                            <%= devise_error_messages! %>
                            <h3 class="text-center">Crea una cuenta en kiipet</h3>

                            <fieldset>
                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-envelope-o"></i>
                                        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
                                        <b class="tooltip tooltip-bottom-right">Ingresa un email valido</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                                        <b class="tooltip tooltip-bottom-right">No olvides la contraseña</b>
                                        <% if @validatable %>
                                        <em>(<%= @minimum_password_length %> caracteres minimo)</em>
                                        <% end %>
                                    </label>
                                </section>

                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirmar password", class: "form-control" %>
                                        <b class="tooltip tooltip-bottom-right">No olvides tu contraseña</b>
                                    </label>
                                </section>
                            </fieldset>

                            <fieldset>
                                <section>
                                    <%= f.simple_fields_for :profile_attributes, KeeperProfile.new do |f| %>
                                    <%= f.input :type, as: :select, collection: [[KeeperProfile.model_name.human, KeeperProfile.to_s], [ProspectorProfile.model_name.human, ProspectorProfile.to_s]], label: false%>
                                    <% end %>
                                </section>

                                <section>
                                    <label class="checkbox"><input type="checkbox" name="terms" id="terms"><i></i>
                                    <%= link_to "Estoy de acuerdo con los terminos y condiciones", terms_path %>
                                </section>
                            </fieldset>
                            <footer>
                                <%= f.submit "Registrate", class: "btn btn-info btn-lg registrate" %>
                            </footer>
                            <fieldset>
                              <div class="row social-login">
                                <div class="col-sm-12">
                                  <div class="border-rits">
                                    <span>o</span>
                                  </div>
                                </div>
                                <div class="col-sm-12">
                                  <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-lg btn-facebook col-sm-11' do %>
                                    <i class="fa fa-facebook"></i> Registrate con facebook
                                  <% end %>
                                </div>
                              </div>
                            </fieldset>
                    <% end %>
                    </div><!--login form wrap end-->

                </div>
            </div>
        </div>
