<div class="container">
  <div class="row">
    <br>
    <div class="col-md-12">
      <table class="table-bordered admin-tables">
        <thead>
          <th><%= Profile.human_attribute_name(:avatar)%></th>
          <th><%= Profile.human_attribute_name(:type)%></th>
          <th><%= Profile.human_attribute_name(:name)%></th>
          <th><%= User.human_attribute_name(:email)%></th>
          <th><%= Profile.human_attribute_name(:state)%></th>
          <th><%= User.human_attribute_name(:created_at)%></th>
          <th></th>
        </thead>
        <tbody>
          <% if @profiles.any?%>
            <%- @profiles.each do |profile| %>
            <tr>
              <td><%= image_tag profile.user.display_image, :size => "40x40"%></td>
              <td><%= profile.model_name.human%></td>
              <td><%= profile.name%></td>
              <td><%= profile.user.email%></td>
              <td><%= profile.human_state_name%></td>
              <td><%= profile.user.created_at%></td>
              <td><%= link_to "ver", admin_profile_path(profile), class: 'btn btn-default'%></td>
              <td>
                <%- if profile.in_analysis? %>
                  <%= link_to "Aprobar", approve_admin_profile_path(profile), class: 'btn btn-primary'%>
                  <%= link_to "Rechazar", reject_admin_profile_path(profile), class: 'btn btn-danger'%>
               <% end %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
