<div class="container">
<%= simple_form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-6">
  <div class="field">
    <%= f.input :pet_image, input_html: {'data-input' => false, 'data-buttonText' => '', 'data-iconName' => 'fa fa-user'}%>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :breed %><br>
    <%= f.text_field :breed , class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%=f.button :submit, "Crear", class: 'btn btn-info'%>
  </div>
<% end %>
</div>
</div>
