<p id="notice"><%= notice %></p>

<div class="container">
<h1>Mis Mascotas</h1>

<ul class="thumbnails" id="servicio">
  <% @pets.each do |pet| %>
    <div class='service'>
      <li class="col-md-3">
        <div class="thumbnail">
        <div class="caption">
          <%= image_tag pet.pet_image.url , :size => "200x200"%>
        </div>
          <div class="caption">
            <h3><%= pet.name %></h3>
             <p>Raza: <%= pet.breed %></p>
             <h5>A tener en cuenta:</h5>
            <p><%= pet.bio %></p>
          </div>
          <div class="caption">
            <%= link_to 'Editar', edit_pet_path(pet), class: "btn btn btn-info" %>
            <%= link_to 'Eliminar', pet, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn btn-danger"  %>
          </div>
        </div>
      </li>
    </div>
  <% end %>
</ul>

<br>
</div>
<div class="container">
  <%= link_to 'Agregar Mascota', new_pet_path, class: "btn btn btn-info"  %>
</div>
