<%= form_for([@calendar, @booking]) do |f| %>
  <p>
    <%= f.label 'start_time', 'Empieza' %>
    <%= f.datetime_select :start_time, { minute_step: 15 } %>
  </p>
  <p>
    <%= f.label 'length', 'Duracion en horas' %>
    <%= f.number_field 'length', min: 1 %>
    </p>
    <%= collection_select :service, :service_id, @calendar.profile.services, :id, :name_with_price %>
  <%= f.submit 'Hacer Reserva' %>
<% end %>
