<section class="me-intro parallax bg-principal" data-stellar-background-ratio="0.5">
    <div class="container text-left">
        <div class="caption text sfl animated slideInLeft">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
            <div class="caption title-2 sft animated slideInLeft">
            Encuentra a los mejores Cuidadores
            </div>
            Busca Cuidadores, Paseadores y alojamiento
            <br>
            <br>
            <%= search_form_for @search, url: keeper_users_url do |f| %>
              <%= f.text_field :county_name_cont , placeholder: "Busca cuidadores en...", class: "input-lg col-md-6" %>
              <%= button_tag(class: "btn btn-info btn-lg") do %>
                <i class="fa fa-search top-search"> Buscar Cuidadores</i>
              <% end -%>
            <% end %>
        </div>
        </div>
  </div>
    </div>
</section><!--me intro parallax-->

<div class="divide60"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="center-heading">
                        <h2><strong>Que</strong> es?</h2>
                        <span class="center-line"></span>
                        <p class="sub-text margin40">
                            Kiipet es una plataforma que pone en contacto a cuidadores de mascotas con experiencia y propietarios de mascotas. Nuestra plataforma permite que cada propietario encuentre el cuidador perfecto para su mascota, haciendo la reserva de forma cómoda y garantizando el pago seguro.</p>
                    </div>
                </div>

            </div><!--center heading end-->
            <div class="divide50"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed blue">
                        <i class="fa fa-search"></i>
                        <h3>Busca</h3>
                        <span class="center-line"></span>
                        <p>
                            Encuentra un cuidador para tu mascota,
                            de forma rapida y facil
                        </p>
                    </div>
                </div><!--colored boxed col end-->
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed blue">
                        <i class="fa fa-calendar"></i>
                        <h3>Agenda</h3>
                        <span class="center-line"></span>
                        <p>
                            Consulta por las horas disponibles del cuidador,
                            que mas te guste para tu mascota.
                        </p>
                    </div>
                </div><!--colored boxed col end-->
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed blue">
                        <i class="fa fa-check-square-o"></i>
                        <h3>Reserva</h3>
                        <span class="center-line"></span>
                        <p>
                            Reserva el servicio que buscas directo y haz el pago,
                            directo con el cuidador
                        </p>
                    </div>
                </div><!--colored boxed col end-->
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed blue">
                        <i class="fa fa-paw"></i>
                        <h3>Finaliza</h3>
                        <span class="center-line"></span>
                        <p>
                            Tu mascota en las mejores manos,
                            puedes estar tranquilo mientras tu
                            mejor amigo recibe el mejor de los cuidados
                        </p>
                    </div>
                </div><!--colored boxed col end-->
            </div>
        </div><!--services container-->

        <section class="fun-fact-wrap fun-facts-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 margin20 facts-in">
                        <h3><span class="counter">1000</span> +</h3>
                        <h4>Alojamiento</h4>
                    </div><!--facts in-->
                    <div class="col-md-3 margin20 facts-in">
                        <h3><span class="counter">2300</span></h3>
                        <h4>Paseo</h4>
                    </div><!--facts in-->
                    <div class="col-md-3 margin20 facts-in">
                        <h3><span class="counter">80</span> +</h3>
                        <h4>Cuidado diario</h4>
                    </div><!--facts in-->
                    <div class="col-md-3 margin20 facts-in">
                        <h3><span class="counter">3000</span></h3>
                        <h4>Premios</h4>
                    </div><!--facts in-->
                </div>
            </div>
        </section><!--fun facts-->


        <div class="testimonials-v-2 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="center-heading">
                            <h2><strong>Recomendaciones</strong></h2>
                            <span class="center-line"></span>

                        </div>
                    </div>
                </div><!--center heading end-->

                <div class="row">

                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="testi-slide">
                            <ul class="slides">
                                <li>
                                    <%= image_tag("comentarios.jpg")%>
                                    <p>
                                        <i class="ion-quote"></i>
                                        Con Kiipet tus mascotas estaran en manos de profesionales y por sobre todo PetLovers como yo,
                                        recomendada totalmente, digamos no al abandono de nuestras mascotas.
                                    </p>
                                    <h4 class="test-author">
                                        Sebastian Jimenez
                                    </h4>
                                </li><!--testi item-->
                            </ul>
                        </div><!--flex slider testimonials end here-->
                    </div>
                </div><!--testi slider row end-->

            </div>
        </div><!--testimonials v-2 end-->



          <div class="divide40"></div>
        <div class="intro-text-1 light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h4 class="animated slideInDown">Kiipet la mejor opcion para tus mascotas</h4>

                        <p>
                            Encuentra a los mejores cuidadores
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <%= link_to "Registrate ahora",  new_user_registration_path, class: "btn border-theme btn-lg"%>
                    </div>
                </div>
            </div>
        </div> <!--intro text end-->



