<section class="me-intro parallax bg-principal" data-stellar-background-ratio="0.5">
    <div class="container text-left">
        <div class="caption text sfl animated slideInLeft">
            <div class="col-md-2">

            </div>
          <div class="col-md-10">
            <div class="caption title-2 sft animated slideInLeft">
            Encuentra a los mejores Cuidadores
            </div>
            Busca Cuidadores, Paseadores y alojamiento
            <br>
            <br>
            <%= search_form_for @search, url: keeper_users_url do |f| %>
              <%= f.text_field :county_region_name_cont , placeholder: "Busca cuidadores por comuna...", class: "input-lg col-md-6", data: { autocomplete_source: api_searches_path  } %>
              <%= button_tag(class: "btn btn-info btn-lg") do %>
                <i class="fa fa-search top-search"> Buscar Cuidadores</i>
              <% end -%>
            <% end %>
            <br>
            <br>
            <div class="register-button">
              <h4 class="font">¿Aun no estas registrado? ¡ Registrate ahora !</h4>
              <%= link_to "¡Registrate!", new_user_registration_path, class: "register btn btn-info btn-lg"%>
            </div>
        </div>
        </div>
  </div>
    </div>
</section><!--me intro parallax-->

<div class="divide60"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="center-heading">
                        <h2><strong>Que</strong> es?</h2>
                        <span class="center-line"></span>
                        <p class="sub-text margin40">
                            Kiipet es una plataforma que pone en contacto a cuidadores de mascotas con experiencia y propietarios de mascotas. Nuestra plataforma permite que cada propietario encuentre el cuidador perfecto para su mascota, haciendo la reserva de forma cómoda y garantizando el pago seguro.</p>
                    </div>
                </div>

            </div><!--center heading end-->
            <div class="divide50"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed blue">
                        <i class="fa fa-search"></i>
                        <h3>Busca</h3>
                        <span class="center-line"></span>
                        <p>
                            Encuentra un cuidador para tu mascota,
                            de forma rapida y facil
                        </p>
                    </div>
                </div><!--colored boxed col end-->
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed blue">
                        <i class="fa fa-calendar"></i>
                        <h3>Agenda</h3>
                        <span class="center-line"></span>
                        <p>
                            Consulta por las horas disponibles del cuidador,
                            que mas te guste para tu mascota.
                        </p>
                    </div>
                </div><!--colored boxed col end-->
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed blue">
                        <i class="fa fa-check-square-o"></i>
                        <h3>Reserva</h3>
                        <span class="center-line"></span>
                        <p>
                            Reserva el servicio que buscas directo y haz el pago,
                            directo con el cuidador
                        </p>
                    </div>
                </div><!--colored boxed col end-->
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed blue">
                        <i class="fa fa-paw"></i>
                        <h3>Finaliza</h3>
                        <span class="center-line"></span>
                        <p>
                            Tu mascota en las mejores manos,
                            puedes estar tranquilo mientras tu
                            mejor amigo recibe el mejor de los cuidados
                        </p>
                    </div>
                </div><!--colored boxed col end-->
            </div>
        </div><!--services container-->

        <section class="parallax bg-secundario" data-stellar-background-ratio="0.5">
            <div class="container text-left">
              <div class="col-md-10 buscador">
                <h4 class="font">¿Te vas de vacaciones y no tienes con quien dejar a tu mascota?</h4>
                <div class="col-md-4">
                  <br>
                  <%= link_to "Busca Cuidadores!", keeper_users_path ,class: "btn btn-info btn-lg"%>
                </div>
              </div>
          </div>
            </div>
        </section><!--me intro parallax-->

        <div class="testimonials-v-2 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="center-heading">
                            <h2><strong>Servicios</strong></h2>
                            <span class="center-line"></span>

                        </div>
                    </div>
                </div><!--center heading end-->
                <br>
                <div class="row">
                  <div class="col-md-3 ">
                    <p>
                      <i class="fa fa-home fa-5x"></i>
                    </p>
                      <h4>Alojamiento</h4>
                      <p>
                        Cuida perros en tu propia casa durante el día y la noche. En el horario que mas te acomode.
                      </p>
                  </div><!--facts in-->
                  <div class="col-md-3 ">
                    <p>
                      <i class="fa fa-paw fa-5x"></i>
                    </p>
                      <h4>Paseo</h4>
                      <p>
                        Pasea perros durante 1 hora. La recogida y entrega será siempre en el domicilio del propietario.
                      </p>
                  </div><!--facts in-->
                  <div class="col-md-3 ">
                    <p>
                      <i class="fa fa-calendar fa-5x"></i>
                    </p>
                      <h4>Cuidado diario</h4>
                      <p>
                        Cuida perros en tu propia casa sólo durante el día y por un máximo de 10 horas al día.
                      </p>
                  </div><!--facts in-->
                  <div class="col-md-3 ">
                      <h3>¡Contrata alguno de los servicios ahora!</h3>
                  </div><!--facts in-->
                </div><!--testi slider row end-->

            </div>
        </div><!--testimonials v-2 end-->


          <div class="divide40"></div>
        <div class="intro-text-1 light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h4 class="animated slideInDown">Kiipet la mejor opcion para tus mascotas</h4>

                        <p>
                            Encuentra a los mejores cuidadores
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <%= link_to "Registrate ahora",  new_user_registration_path, class: "btn btn-info btn-lg"%>
                    </div>
                </div>
            </div>
        </div> <!--intro text end-->
