
 <section class="parallax bg-secundario" data-stellar-background-ratio="0.5">
     <div class="container text-left">

   </div>
     </div>
 </section><!--me intro parallax-->
 <br>
         <div class="container">
             <div class="row">
                 <div class="col-md-8 margin30 sky-form-columns">
                     <h3 class="heading">Contacto</h3>
                     <p>
                       En kiipet estaremos felices de saber de ti, si tienes dudas, consultas o reclamos,
                       no dudes y escribenos mediante nuestro formulario de contacto!
                     </p>
<%= simple_form_for @contact, :html => {:class => 'sky-form', :id => "sky-form" } do |f| %>

         <fieldset>
           <div class="row">
             <section class="col col-6">
               <label class="input">
                 <label>Nombre:</label>
                 <%= f.input :name, label: false, :required => true, id: "name" %>
               </label>
             </section>
             <section class="col col-6">
               <label class="input">
                 <label>E-Mail</label>
                 <%= f.input :email, label: false, :required => true, id: "email" %>
               </label>
             </section>
           </div>

           <section>
             <label class="textarea">
               <label>Mensaje:</label>
               <%= f.input :message, :as => :text, label: false, :required => true, id: "message" %>
             </label>
           </section>
         </fieldset>

         <footer>
           <%= f.button :submit, 'Enviar', :class=> "btn btn-info btn-lg" %>
         </footer>

 <% end %>

                 </div>
                 <div class="col-md-4">
                     <h3 class="heading">Contacto</h3>
                     <ul class="list-unstyled contact contact-info">
                         <li><p><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="#">contacto@kiipet.com</a></p></li>
                     </ul>
                     <div class="divide40"></div>
                     <h4>Redes Sociales</h4>
                     <ul class="list-inline social-1">
                      <li><a href="https://www.facebook.com/kiipetcom/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/kiipet_com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://www.instagram.com/kiipet/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                     </ul>
                 </div>
             </div>
         </div><!--contact advanced container end-->
