<h3>calendars</h3>

<% @calendars.each do |calendar| %>
  <div class="calendar">
    <%= calendar.name %>
    <%= link_to "Show all bookings", calendar_bookings_path(calendar) %>
    <%= link_to "Delete", calendar_path(calendar), data: { confirm: 'Are you sure?' }, method: :delete %>
    <%= link_to "Edit", edit_calendar_path(calendar) %>
    <%= link_to "Add booking", new_calendar_booking_path(calendar) %>
  </div>
<% end %>
