        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Busca a los mejores cuidadores</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="divide40"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="results-sidebar-box">
                        <h4>Busca por region</h4>
                          <%= search_form_for @search, url: keeper_users_url do |f| %>
                            <div class="field">
                              <%= f.collection_select :county_region_id_eq, Region.all, :id, :name, include_blank: true %>
                            </div>
                            <div class="actions">
                            <br>
                              <%= f.submit "Buscar", class: "btn btn-info btn-lg" %>
                            </div>
                        <% end -%>
                        <hr>
                    </div><!--sidebar box of search results end-->
                    <div class="results-sidebar-box">
                        <h4>Busca por comuna</h4>
                        <%= search_form_for @search, url: keeper_users_url do |f| %>
                            <div class="field">
                              <%= f.text_field :county_name_cont, data: { autocomplete_source: api_searches_path }, input_html: { class: 'form-control large' }, placeholder: "Escribe tu comuna.." %>
                            </div>
                            <div class="actions">
                            <br>
                              <%= f.submit "Buscar", class: "btn btn-info btn-lg" %>
                            </div>
                        <% end -%>
                        <hr>
                    </div><!--sidebar box of search results end-->
                </div><!--search sidebar col end-->
              <div class="col-md-8">
                <% if @keepers.present? %>
                  <span class="results-number">Cerca <%= @keepers.total_count %> resultados</span>

                <% @keepers.each do |kp|%>
                  <% if kp.state == "approved"%>
                    <div class="results-box">
                      <div class="col-md-2">
                        <%= image_tag kp.avatar.url , :size => "100x100", class: "img-circle"%>
                      </div>
                      <div class="col-md-10">
                        <h3><%= link_to kp.slogan, profile_path(kp) %></h3>
                        <% if kp.county %>
                        <ul class="list-inline link-ul">
                          <li><%= kp.county.name %></li>
                        </ul>
                        <% end %>
                        <% if kp.bio %>
                        <p>
                          <%= kp.bio.truncate_words(20) %>
                        </p>
                        <% end %>
                        <hr>
                      </div>
                      <% end %>
                    </div><!--result box-->

                <% end %>
                   <%= paginate @keepers %>
                    <% else %>
                    <p>No se han econtrado resultados...</p>
                    <% end -%>
                </div>
            </div>
        </div><!--buscador de contenidos end-->
