        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Busca a los mejores cuidadores</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="divide40"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="results-sidebar-box">
                        <h4>Busca por region</h4>
                        <%= form_tag(keeper_users_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
                        <%= submit_tag "Search" %>
                        <% end %>
                        <hr>
                    </div><!--sidebar box of search results end-->
                    <div class="results-sidebar-box">
                        <h4>Busca por comuna</h4>
                        <ul class="list-unstyled">
                            <li><a href="search-results.html#">Bootstrap </a></li>
                            <li><a href="search-results.html#">Wrap bootstrap</a></li>
                            <li><a href="search-results.html#">Assan template</a></li>
                        </ul>
                        <hr>
                    </div><!--sidebar box of search results end-->
                </div><!--search sidebar col end-->
                <div class="col-sm-9">
                <% if @keepers.present? %>
                    <span class="results-number">Cerca 230,000 results (in 0.40 seconds)</span>

                <% @keepers.each do |kp|%>
                    <div class="results-box">
                      <div class="col-md-2">
                        <%= image_tag kp.avatar.url , :size => "100x100", class: "img-circle"%>
                      </div>
                      <div class="col-md-10">
                        <h3><%= link_to kp.slogan, profile_path(kp) %></h3>
                        <ul class="list-inline link-ul">
                            <% if kp.county %>
                              <li><%= kp.county.name %></li>
                            <% else %>
                              <li>Sin Comuna</li>
                            <% end -%>
                              <li><%= kp.county.region.name%></li>
                        </ul>
                        <p>
                            <%= kp.bio.truncate_words(20) %>
                        </p>
                        <hr>
                      </div>

                    </div><!--result box-->

                <% end %>

                    <ul class="pagination">
                        <li>
                            <a href="search-results.html#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="active"><a href="search-results.html#">1</a></li>
                        <li><a href="search-results.html#">2</a></li>
                        <li><a href="search-results.html#">3</a></li>
                        <li><a href="search-results.html#">4</a></li>
                        <li><a href="search-results.html#">5</a></li>
                        <li>
                            <a href="search-results.html#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                    <% else %>
                    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
                    <% end -%>
                </div>
            </div>
        </div><!--buscador de contenidos end-->
