<!DOCTYPE html>
<html>
<head>
  <title>Kiipet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
  <% meta description: "Kiipet es una plataforma que conecta dueños de perros con cuidadores y/o paseadores, para que puedas hacer tu vida con tranquilidad mientras tu mejor amigo esta en las mejores manos." %>
  <% meta keywords: ["Mascotas", "Kiipet", "Diversion", "Cuidadores", "Paseadores", "Perros", "Pets", "Veterinario", "Veterinarias"]%>
</head>
<body>
   <div class="top-bar-dark">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 hidden-xs">
                  <ul class="list-inline socials-simple">
                      <li><a href="https://www.facebook.com/kiipetcom/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/kiipet_com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://www.instagram.com/kiipet/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
              <div class="col-sm-8 text-right">
              <% if user_signed_in? %>
                <ul class="list-inline top-dark-right">
                  <li class="hidden-sm hidden-xs"><i class="fa fa-envelope"></i> contacto@kiipet.com</li>
                  <li class="dropdown login">
                    <%= link_to '#', class: 'dropdown-toggle', 'aria-expanded' => "false", 'data-toggle' => "dropdown", role: "button" do%>
                      <%= image_tag(current_user.display_image, :size => "40x40", class: 'img-circle')%>
                      <%= current_user.email %>
                    <% end %>
                    <i class="fa fa-angle-down"></i>
                    <ul class="dropdown-menu menu-principal">
                      <% if current_user.profile.is_a? KeeperProfile %>
                        <li><%= link_to 'Perfil', edit_profile_path(current_user.profile) %></li>
                        <li><%= link_to('Disponibilidad', calendar_bookings_path(current_user.profile)) %></li>
                      <% end %>
                      <% if current_user.profile.is_a? ProspectorProfile %>
                        <li><%= link_to 'Perfil', edit_profile_path(current_user.profile)  %></li>
                        <li><%= link_to('Mis Mascotas',  pets_path) %></li>
                      <% end %>
                      <li><%= link_to "Settings", edit_user_registration_path(@user) %></li>
                      <li><%= link_to('Cerrar Sesion', destroy_user_session_path, :method => :delete) %></li>
                  </ul>
                  </li>
                </ul>
              <% else %>
                  <ul class="list-inline top-dark-right">
                      <li class="hidden-sm hidden-xs"><i class="fa fa-envelope"></i>contacto@kiipet.com</li>
                      <li><i class="fa fa-lock"></i><%= link_to "Login", new_user_session_path %></li>
                      <li><i class="fa fa-user"></i><%= link_to "Registrate", new_user_registration_path%></li>
                  </ul>
                   <div class="search">
                      <form role="form">
                          <input type="text" class="form-control" autocomplete="off" placeholder="Write something and press enter">
                          <span class="search-close"><i class="fa fa-times"></i></span>
                      </form>
                  </div>
                  <% end %>
              </div>
          </div>
      </div>
  </div><!--top-bar-dark end here-->
  <!--navigation -->
  <!-- Static navbar -->
  <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
             <%= link_to image_tag("logo-azul.png"), :class => 'dock-item'%>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Inicio", root_path%></li>
                  <!--menu home li end here-->
                  <li><%= link_to "Busca cuidadores", keeper_users_path%></li>
                  <!--menu blog li end here-->
                  <li><%= link_to "Como funciona", works_path %></li>
                  <!--menu pages li end here-->
                  <li><%= link_to "Blog", "http://blog.kiipet.com/", :target => "_blank" %></li>
                  <!--mega menu-->
                  <li><%= link_to "Contacto", new_contact_path%></li> <!--menu Features li end here-->
                  <!--mega menu end-->
              </ul>
          </div><!--/.nav-collapse -->
      </div><!--container-->
  </div><!--navbar-default-->

  <%= render 'layouts/facebook_sdk' %>
  <%= render 'layouts/alerts' %>
  <%= yield %>



<footer id="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Acerca de Kiipet</h3>
                    <p>
                        Kiipet es una plataforma que pone en contacto a cuidadores de mascotas con experiencia y propietarios de mascotas.
                         Nuestra plataforma permite que cada propietario encuentre el cuidador perfecto para su mascota,
                         haciendo la reserva de forma cómoda y garantizando el pago seguro
                    </p>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Contacto</h3>

                    <ul class="list-unstyled contact">
                        <li><p><strong><i class="fa fa-envelope"></i> E-mail:</strong> contacto@kiipet.com</p></li>
                        <li> <p><strong><i class="fa fa-file-pdf-o"></i></strong><%= link_to "Condiciones de uso", terms_path%></li>

                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Social</h3>
                    <ul class="list-inline social-1">
                      <li><a href="https://www.facebook.com/kiipetcom/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/kiipet_com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://www.instagram.com/kiipet/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Proximamente!</h3>
                    <%= image_tag "logo-adopta.png"%>
                </div>
            </div><!--footer col-->

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-btm">
                    <span>&copy;2016. Kiipet</span>
                </div>
            </div>
        </div>
    </div>
</footer><!--default footer end here-->
</body>
</html>
