<!DOCTYPE html>
<html>
<head>
  <title>Kiipet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="top-bar-dark">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 hidden-xs">
                  <ul class="list-inline socials-simple">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  </ul>
              </div>
              <div class="col-sm-8 text-right">
              <% if user_signed_in? %>
                <ul class="list-inline top-dark-right">
                  <li class="hidden-sm hidden-xs"><i class="fa fa-envelope"></i> contacto@kiipet.com</li>
                  <li class="hidden-sm hidden-xs"><i class="fa fa-phone"></i> +01 1800 453 7678</li>
                  <li class="dropdown login">
                    <%= link_to '#', class: 'dropdown-toggle', 'aria-expanded' => "false", 'data-toggle' => "dropdown", role: "button" do%>
                      <%= image_tag(current_user.display_image, :size => "40x40", class: 'img-circle')%>
                      <%= current_user.email %>
                    <% end %>
                    <i class="fa fa-angle-down"></i>
                    <ul class="dropdown-menu menu-principal">
                      <% if current_user.profile.is_a? KeeperProfile %>
                        <li><%= link_to 'Perfil', edit_profile_path(current_user.profile) %></li>
                        <li><%= link_to('Disponibilidad', calendar_bookings_path(current_user.profile)) %></li>
                      <% end %>
                      <% if current_user.profile.is_a? ProspectorProfile %>
                        <li><%= link_to 'Perfil', edit_profile_path(current_user.profile)  %></li>
                        <li><%= link_to('Mis Mascotas',  pets_path) %></li>
                      <% end %>
                      <li><%= link_to "Settings", edit_user_registration_path(@user) %></li>
                      <li><%= link_to('Cerrar Sesion', destroy_user_session_path, :method => :delete) %></li>
                  </ul>
                  </li>
                  <li><a class="topbar-icons" href="index.html#"><span><i class="fa fa-search top-search"></i></span></a></li>
                </ul>
              <% else %>
                  <ul class="list-inline top-dark-right">
                      <li class="hidden-sm hidden-xs"><i class="fa fa-envelope"></i> contacto@kiipet.com</li>
                      <li class="hidden-sm hidden-xs"><i class="fa fa-phone"></i> +01 1800 453 7678</li>
                      <li><i class="fa fa-lock"></i><%= link_to "Login", new_user_session_path %></li>
                      <li><i class="fa fa-user"></i><%= link_to "Registrate", new_user_registration_path%></li>
                      <li><a class="topbar-icons" href="index.html#"><span><i class="fa fa-search top-search"></i></span></a></li>
                  </ul>
                   <div class="search">
                      <form role="form">
                          <input type="text" class="form-control" autocomplete="off" placeholder="Write something and press enter">
                          <span class="search-close"><i class="fa fa-times"></i></span>
                      </form>
                  </div>
                  <% end %>
              </div>
          </div>
      </div>
  </div><!--top-bar-dark end here-->
  <!--navigation -->
  <!-- Static navbar -->
  <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
             <%= link_to image_tag("logo.png"), :class => 'dock-item'%>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Inicio", root_path%></li>
                  <!--menu home li end here-->
                  <li><%= link_to "Busca cuidadores", keeper_users_path%></li>
                  <!--menu blog li end here-->
                  <li><%= link_to "Como funciona", "#"%></li>
                  <!--menu pages li end here-->
                  <li><%= link_to "Blog", "http://blog.kiipet.com/", :target => "_blank" %></li>
                  <!--mega menu-->
                  <li><%= link_to "Contacto", contact_path%></li> <!--menu Features li end here-->
                  <!--mega menu end-->
              </ul>
          </div><!--/.nav-collapse -->
      </div><!--container-->
  </div><!--navbar-default-->

  <%= render 'layouts/facebook_sdk' %>
  <div class="container">
    <%- if notice %>
      <p class="alert-info alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert">×</button>
      </p>
    <% end %>
    <%- if alert %>
      <p class="alert-danger alert"><%= alert %></p>
    <% end %>
  </div>

    <%= yield %>



<footer id="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Acerca de Kiipet</h3>
                    <p>
                        Kiipet es una plataforma que pone en contacto a cuidadores de mascotas con experiencia y propietarios de mascotas.
                         Nuestra plataforma permite que cada propietario encuentre el cuidador perfecto para su mascota,
                         haciendo la reserva de forma cómoda y garantizando el pago seguro
                    </p>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Contacto</h3>

                    <ul class="list-unstyled contact">
                        <li><p><strong><i class="fa fa-map-marker"></i> Direccion:</strong> moneda</p></li>
                        <li><p><strong><i class="fa fa-envelope"></i> E-mail:</strong> contacto@kiipet.com</p></li>
                        <li> <p><strong><i class="fa fa-phone"></i> Telefono:</strong> +91 1800 2345 2132</p></li>
                        <li> <p><strong><i class="fa fa-skype"></i> Skype</strong> kiipet</p></li>

                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Social</h3>
                    <ul class="list-inline social-1">
                        <li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="index.html#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p>
                        Ingresa tu email para obtener novedades y tips para tu mascota
                    </p>
                    <form role="form" class="subscribe-form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ingresa tu email">
                            <span class="input-group-btn">
                                <button class="btn  btn-theme-dark btn-lg" type="submit">Enviar</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div><!--footer col-->

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-btm">
                    <span>&copy;2015. Kiipet</span>
                </div>
            </div>
        </div>
    </div>
</footer><!--default footer end here-->
</body>
</html>
